<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <input type="radio" id="Tarefa-1">
                <label for="">Completar curso de javascript</label>

                <button>
                    <img src="/imagens/x-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>
    </section>
</main>